.button{
  background:#4CAF50;
  color:#fff;
  border:none;
  border-radius: 10px;
  position:relative;
  height:40px;
  font-size:1.0em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.button:hover{
  background:#fff;
  color:#4CAF50;
}
.button:before,.button:after{
  content:'';
  position:absolute;
  top:0;
  right:10%;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:10%;
  bottom:0;
}
.button:hover:before,.button:hover:after{
  width: 80%;
  transition:800ms ease all;
}