.button{
  background:#af4c59;
  color:#fff;
  border:none;
  border-radius: 50%;
  position:relative;
  height:20px;
  font-size:1.0em;
  padding:0 0.5em;
  cursor:pointer;
  transition:400ms ease all;
  outline:none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.button:hover{
  background:#fff;
  color:#af4c59;
}

.button:hover:before,.button:hover:after{
  transition:200ms ease all;
}