.table {
  border-collapse: collapse;
  width: 50%;
}

.table th, .table td {
  text-align: left;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2}

.table th {
  background-color: #4CAF50;
  color: white;
}